@import 'global';

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  padding: 10px;
  background-color: $white;
  border: 1px solid $dark;
  border-radius: 4px;
}
select {
  width: 100%;
  padding: 10px 0;
  border: none;
}
