@import 'app/styles/variables/global';

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  background-color: $white;
  width: 50%;
  border: 1px solid $dark;
  border-radius: 0.25rem;
}
