@import 'app/styles/variables/global';

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  z-index: 10;
}
