@import 'app/styles/variables/global';

.totalItems {
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid $grey;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .image {
    width: 128px;
    height: 160px;
    max-width: 128px;
    max-height: 100%;
    background-color: white;
    object-fit: contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &:hover {
      white-space: normal;
      overflow: visible;
      z-index: 1;
    }

    &:hover::after {
      content: attr(data-full-title);
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #FAF8F8FF;
      padding: 5px 2px 5px 10px;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      border: 1px solid $light-grey;
      border-radius: 4px;
    }
  }

  .authors {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


